.btn{
    background-color:rgb(29, 137, 238);
    
}
.p1{
    font-size: 1.2vw;
}
.btn1{
    background-color:rgb(29, 137, 238);
    outline: none;
    width: 11vw;
    height: 2vw;
    color:white;
    border-radius: 0.5vw;
    border: none;
    font-size: 1vw;
    cursor: pointer;

}