<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet'>

    </head>
<body style="background-color: bisque;">

<h1>Successfully paid your amount</h1>
<button style="color:rgb(252, 249, 249); font-size: 1.5vw; position: relative; top: -1vw;background-color:rgb(74, 173, 219);border-radius: 3vw; width: 8vw; font-family: 'Arvo'; "><a href="/supportus/donate" style="text-decoration: none;color:rgb(252, 249, 249);font-weight: 700;"><b>Ok</b></a></button> 
</body>
</html>