<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact-Animal Support System</title>
        <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    </head>
    <body>
        <img src="{% static 'images/rescueimg.png' %}" alt='hello'  class="img3"/>
        <div class="div3">
            <p style="font-family: 'Courgette';"><b>For any further more queries contact on <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=animalssupsystem@gmail.com" target=_blank>animalrescueportal@gmail.com</a></b></p>
        </div>    
        <div class="div2"><h2 align='center'>Frequently Asked Questions</h2><br>
            <p><b>1. How do I apply to volunteer?</b></p><p>Ans. Thank you for your interest in volunteering! All you need to do is complete our online application form by going into <a href="http://127.0.0.1:8000/workwithus/"><i>Work with us</i></a>. Fill the details and congratulations now you are the part of our team.</p>
            <P><b>2. How do I collect payments or donations through my form?</b></p><p>Ans. From our Animal resue portal, go to the form Support us click on donations. Select your payment provider, verify your number, your online donations will be safely processing.</P>
            <p><b>3. Do I need to spare extra time for volunteering?</b></p><p>Ans. No, there's absolutely no need to spare extra time in volunteering. Through our system only those volunteers will be notified who are near to that area and in this way the help will provided quickly and also no time in travelling to far away areas will be wasted.</p>
            <p><b>4. How can volunteer know about rescue location?</b></p><p>Ans. The rescue location will be shared to those volunteers who are present near to the victim animals.</p>
            <p><b>5. I’m having trouble with my forms or my Animal rescue portal account. Who can I contact for help?</b></p><p>Ans. Our friendly customer support team is available 24/7. You can report any issues through our email-id <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=animalssupsystem@gmail.com" target=_blank>animalrescueportal@gmail.com</a>.</p>
        </div>
        <div>
            <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/rescue">Rescue</a></li>
            <li><a href="/workwithus">Work with us</a></li>
            <li><a href="/contact" class="active">Contact</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/supportus">Support us</a></li>
          </ul>
        </div>
    </body>
</html>
