<!DOCTYPE html>
{% load static %}
<html lang=en>
    <head>
        <meta charset = ' UTF-8'>
        <title>Animal Support System</title>
        <link rel="stylesheet" href="{% static 'css/first.css/' %}" />
        <link href='https://fonts.googleapis.com/css?family=Prociono' rel='stylesheet'>
    </head>
    <body>
        <h1 style="font-size:4.6vw;">ANIMAL'S SUPPORT SYSTEM</h1>
        <img src="{% static 'images/headimage1.jpg' %}" alt='animal' class="img1" />
        <img src="{% static 'images/headimage1.jpg' %}" alt='animal' class="img2" />
        <div class="div1"><h2 align='center' style="font-size: 2.3vw;">Animal rescue portal</h2>
            <p>It’s a small initiative towards the animals from Animal Support System. 
            Our vision is to make a world that shows care and love towards all 
            animals and treat them with respect. Our main aim is to help animals 
            in problem by providing veterinary care and support. 
            All over the world animals are killed, threatened and abused. We 
            also provide support and help in case of natural disaster for animals.</p>
            <p>However, animal abusing is increased which may affect our diversity as 
            a human being we have to protect their lives to maintain our ecosystem. 
            Why we have animal rescue initiatives? Unfortunately some people don't mind 
            abusing animals and sometimes, it also refers to situation where a human fails 
            to properly take care of an animals under their care. That's why we have started
            animal rescue initiatives. The good news is that you can help fight animal cruelty 
            by understanding what it means and how you can help. This is tough topic to digest, 
            but starting with some people who can stand against abuse and send a strong message.</p>
            <p>If you are also an animal lover then you can also become part of our initiative 
            and support us and show your love towards animals. You can also donate or 
            sponsor to support us. Your small help can save lives of many animals. 
            <br>So, come forward and take the first step and become part of 
            Animal Support System. </p>
            <h2 align='center'>"ANIMAL LIVES MATTER"</h2></div>
        <div>
            <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/rescue">Rescue</a></li>
            <li><a href="/workwithus">Work with us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/supportus">Support us</a></li>
          </ul>
        </div>
        <div class="div2">
            <img src="{% static 'images/saloni.png' %}" alt='photo' class="img3">
            <img src="{% static 'images/ZalakG.png' %}" alt='photo' class="img4">
            <img src="{% static 'images/mansik.png' %}" alt='photo' class="img5">
            <img src="{% static 'images/khushi.png' %}" alt='photo' class="img6">
            <section>
                <div class="div3"><b style="font-family: 'Prociono'">Saloni Joshi</b><br>Currently pursuing IT Engineering</div>
                <div class="div4"><b style="font-family: 'Prociono'">Zalak Gandhi</b><br>Currently pursuing IT Engineering</div>
            </section>
            <div class="div5"><b style="font-family: 'Prociono'">Mansi Kargutkar</b><br>Currently pursuing IT Engineering</div>
            <div class="div6"><b style="font-family: 'Prociono'">Khushi Pal</b><br>Currently pursuing IT Engineering</div>
        </div>
    </body>
</html>