<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        
        <title>Supportus-Animal Support System</title>
        <link rel="stylesheet" href="{% static 'css/supportus.css' %}" />
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    </head>
    <body>
        <img src="{% static 'images/rescueimg.png' %}" alt='hello'  class="img3"/>
        <div class="div1">
            <p style="font-family: 'Courgette';"><b>Animal creulty has become an international issue and this needs to be addressed and stopped. This can be achieved with the help of your support. By supporting and donating on Animal rescue portal, you're helping animals get the second chance they deserve. Providing medical and behavioural care for animals. Educating our community on how to properly care for animals. Rescuing animals from abusive and neglectful situations. If you have any queries about these organization please <a href="http://127.0.0.1:8000/contact/"><i>contact us.</i></a></b></p>
        </div>
        <button class="button" style="vertical-align:middle"><a href="/supportus/donate" target="_blank"><span><b>Donate</b></span></a></button>
        <div>
            <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/rescue">Rescue</a></li>
            <li><a href="/workwithus">Work with us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/statistics">Statistics</a></li>
            <li><a href="/supportus" class="active">Support us</a></li>
          </ul>
        </div>
    </body>
</html>